.u-section-1 {background-image: url("images/harrachovleto.31776.big.jpg")}
.u-section-1 .u-sheet-1 {min-height: 707px}
.u-section-1 .u-text-1 {font-weight: 700; font-size: 3rem; margin: 431px 534px 0 10px}
.u-section-1 .u-text-2 {margin: 20px 534px 60px 10px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 583px}
.u-section-1 .u-text-1 {margin-right: 344px; margin-left: 0}
.u-section-1 .u-text-2 {margin-right: 344px; margin-left: 0} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 447px}
.u-section-1 .u-text-1 {margin-right: 124px}
.u-section-1 .u-text-2 {margin-right: 124px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 335px}
.u-section-1 .u-text-1 {margin-right: 0}
.u-section-1 .u-text-2 {margin-right: 0} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 655px} }.u-section-2 .u-sheet-1 {min-height: 500px} 

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 449px} }.u-section-3 .u-sheet-1 {min-height: 500px}