.u-section-1 .u-sheet-1 {min-height: 288px}
.u-section-1 .u-text-1 {font-weight: 700; margin: 29px 1047px 0 15px}
.u-section-1 .u-btn-1 {background-image: none; border-style: none none solid; margin: -27px auto 0 123px; padding: 0}
.u-section-1 .u-text-2 {font-weight: 700; margin: 41px auto 0 15px}
.u-section-1 .u-btn-2 {background-image: none; border-style: none none solid; margin: -25px auto 0 123px; padding: 0}
.u-section-1 .u-text-3 {font-weight: 700; margin: 46px auto 0 15px}
.u-section-1 .u-btn-3 {background-image: none; border-style: none none solid; margin: -27px auto 0 123px; padding: 0}
.u-section-1 .u-text-4 {font-weight: 700; margin: 41px auto 0 15px}
.u-section-1 .u-btn-4 {background-image: none; border-style: none none solid; margin: -27px auto 60px 123px; padding: 0} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {margin-right: 862px; margin-left: 0}
.u-section-1 .u-btn-1 {margin-left: 0}
.u-section-1 .u-text-2 {margin-left: 0}
.u-section-1 .u-btn-2 {margin-left: 0}
.u-section-1 .u-text-3 {margin-left: 0}
.u-section-1 .u-btn-3 {margin-left: 0}
.u-section-1 .u-text-4 {margin-left: 0}
.u-section-1 .u-btn-4 {margin-left: 0} }

@media (max-width: 991px){ .u-section-1 .u-text-1 {margin-right: 642px} }

@media (max-width: 767px){ .u-section-1 .u-text-1 {margin-right: 462px} }

@media (max-width: 575px){ .u-section-1 .u-text-1 {margin-right: 262px} }.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-text-1 {margin: 20px auto 60px 0}